@model IEnumerable<string>

@Html.ActionLink("Home", "List", "Employee")
@foreach (var link in Model)
{
    @Html.RouteLink(link, new
    {
        controller = "Employee",
        action = "List",
        category = link,
        managerId = TempData["ManagerId"],
        page = 1
    },
    new
    {
        @class = link == ViewBag.SelectedCategory ? "selected" : null
    })
}
@if (TempData["Manager"] != null)
{
    <a class="selected">Manager: @TempData["Manager"]</a>
}
@if (TempData["Employee"] != null)
{
    <a class="selected">Employee: @TempData["Employee"]</a>
}