body, td {
    font-family: Segoe UI, Verdana
}

h1 {
    padding: .5em;
    padding-top: 0;
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 2px solid gray;
}

div#content {
    padding: .9em;
}

table.Grid td, table.Grid th {
    border-bottom: 1px dotted gray;
    text-align: left;
}

table.Grid {
    border-collapse: collapse;
    width: 100%;
}

table.Grid th.NumericCol, table.Grid td.NumericCol {
    text-align: right;
    padding-right: 1em;
}

form {
    margin-bottom: 0px;
}

div.Message {
    background: gray;
    color: White;
    padding: .2em;
    margin-top: .25em;
}

.field-validation-error {
    color: red;
    display: block;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid red;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: red;
}

.validation-summary-valid {
    display: none;
}

.editor-field {
    margin-bottom: .8em;
}

.editor-label {
    font-weight: bold;
}

.editor-label:after {
    content: ":"
}

.text-box {
    width: 25em;
}

.multi-line {
    height: 5em;
    font-family: Segoe UI, Verdana;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    /* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

        /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

#overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #999;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 100;
}

#popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px; /*Half the value of width to center div*/
    margin-top: -250px; /*Half the value of height to center div*/
    z-index: 200;
}

#popupclose {
    float: right;
    padding: 10px;
    cursor: pointer;
}

.popupcontent {
    padding: 10px;
}

#button {
    cursor: pointer;
}
