body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 50px;
}

body {
    font-family: Cambria, Georgia, "Times New Roman";
    margin: 0;
}

div#header div.title, div.item h3, div.item h4, div.pager a {
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}

DIV#header {
    background-color: #444;
    border-bottom: 2px solid #111;
    color: White;
}

div#header div.title {
    font-size: 2em;
    padding: .6em;
}

div#content {
    border-left: 2px solid gray;
    margin-left: 9em;
    padding: 1em;
}

div#categories {
    float: left;
    width: 8em;
    padding: .3em;
}

div.item {
    border-top: 1px dotted gray;
    padding-top: .7em;
    margin-bottom: .7em;
}

div.item:first-child {
    border-top: none;
    padding-top: 0;
}

div.item H3 {
    font-size: 1.3em;
    margin: 0 0 .25em 0;
}

    DIV.item H4 {
        font-size: 1.1em;
        margin: .4em 0 0 0;
    }

DIV.pager {
    text-align: right;
    border-top: 2px solid silver;
    padding: .5em 0 0 0;
    margin-top: 1em;
}

    DIV.pager A {
        font-size: 1.1em;
        color: #666;
        text-decoration: none;
        padding: 0 .4em 0 .4em;
    }

        DIV.pager A:hover {
            background-color: Silver;
        }

        DIV.pager A.selected {
            background-color: #353535;
            color: White;
        }

DIV#categories A {
    font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial;
    display: block;
    text-decoration: none;
    padding: .6em;
    color: Black;
    border-bottom: 1px solid silver;
}

    DIV#categories A.selected {
        background-color: #666;
        color: White;
    }

    DIV#categories A:hover {
        background-color: #CCC;
    }

    DIV#categories A.selected:hover {
        background-color: #666;
    }

#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #999;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 100;
}

#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px; /*Half the value of width to center div*/
    margin-top: -250px; /*Half the value of height to center div*/
    z-index: 200;
}